.three-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

.loading-screen {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #171617;
  z-index: 500;
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity 700ms;
  pointer-events: all;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-screen.loaded {
  opacity: 0;
  pointer-events: none;
}

.loaderSpin-icon {
  color: white;
  /* transform-style: preserve-3d;
  backface-visibility: hidden; */
}

.loader {
  display: inline-block;
  transform-style: "preserve-3d";
  perspective: 800;
  perspective-origin: "50% 50% 0px";
  -webkit-animation: lds-circle 6.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  animation: lds-circle 6.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  /* transform-style: preserve-3d;
  backface-visibility: hidden; */
}
@-webkit-keyframes lds-circle {
  0%,
  100% {
    -webkit-animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(1800deg);
    transform: rotateY(1799deg);
    -webkit-animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    -webkit-transform: rotateY(3599deg);
    transform: rotateY(3599deg);
  }
}
@keyframes lds-circle {
  0%,
  100% {
    -webkit-animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(1800deg);
    transform: rotateY(1799deg);
    -webkit-animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    -webkit-transform: rotateY(3599deg);
    transform: rotateY(3599deg);
  }
}
