nav {
  position: relative;
  z-index: 200;
  background: #ff392e;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10%;
  min-height: 100px;
  height: 12vh;
  box-shadow: 0px 3px 10px rgba(154, 160, 185, 0.85);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  height: 100%;
}

.logo {
  height: 90%;
  width: auto;
  z-index: 5;
  max-height: 95px;
}

/* Social links */
.social-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20%;
}

.social-links ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.social-links ul li a {
  text-decoration: none;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 400ms;
  will-change: opacity;
}

.social-links ul li a:hover {
  opacity: 0.8;
}

.nav-icon {
  color: white;
}

.menu-bars {
  display: none;
  outline: none;
  z-index: 5;
}

.menu-links {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  background: #ff392e;
  padding: 10vh 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: circle(50px at 100% -10%);
  -webkit-clip-path: circle(50px at 100% -10%);
  transition: clip-path 1400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: -webkit-clip-path 1400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  will-change: clip-path;
  will-change: -webkit-clip-path;
  pointer-events: none;
  user-select: none;
}

.menu-links.change {
  clip-path: circle(150% at 100% -5%);
  -webkit-clip-path: circle(150% at 100% -5%);
  pointer-events: all;
  user-select: all;
}

.menu-links ul {
  list-style: none;
}

.menu-links ul li {
  opacity: 0;
  transition: opacity 600ms ease-out;
}

.menu-links.change ul li:nth-child(1) {
  transition: opacity 600ms ease-out 500ms;
}

.menu-links.change ul li:nth-child(2) {
  transition: opacity 600ms ease-out 700ms;
}

.menu-links.change ul li:nth-child(3) {
  transition: opacity 600ms ease-out 900ms;
}

.menu-links ul li a {
  padding: 30px;
  display: flex;
  justify-content: start;
  align-items: center;
  text-decoration: none;
  pointer-events: none;
}

.menu-links ul li a span {
  color: white;
  font-size: 1.5rem;
  margin-left: 0.5rem;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

.menu-links.change ul li {
  opacity: 1;
  pointer-events: all;
}
.menu-links.change ul li a {
  pointer-events: all;
}

@media (max-width: 1024px) {
  .social-links {
    display: none;
  }
  .menu-bars {
    display: inline-block;
    cursor: pointer;
  }
  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: opacity 400ms, transform 400ms;
    border-radius: 4px;
  }

  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }

  .change .bar2 {
    opacity: 0;
  }

  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
}
